<h1>Editing Transaction</h1>

<%= render 'form' %>

<div class = "form-group" >
<%= link_to 'Show', @transaction, class: 'btn btn-primary' %> |
<%= link_to 'Back', transactions_path, class: 'btn btn-primary' %>
</div >
